@import url(./basic.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* start header */

.header {

    position: sticky;
    background-color: #fff;
    top: 0;
    padding: 20px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

}

.header .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.header .logo img {
    width: 35px;
}

.header .logo a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--mainColor);
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16.5px;
}

.header .navbar a {
    color: #101010;
}

.bars {
    display: none;
}

.header .autho a {
    color: var(--mainColor);
    font-family: var(--subFont);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;

}

.header .autho a:first-of-type {

    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .autho a:last-of-type {

    background-color: var(--mainColor);
    color: #fff;
}




@media (max-width:899px) {
    .navbar {
        display: none;
    }

    .bars {
        display: inline-block;
        order: 2;
    }
}

@media (max-width:820px) {
    .autho {
        display: none;
    }

}

@media (max-width:440px) {
    .continer {
        width: calc(100% - 40px);
        ;
    }

    .logo a {
        display: none;
    }
}

/*end header*/

/*start Begins */
.begins {
    background: #F5F5F5;
    padding: 50px 0;
}


.begins .begins-about {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.begins-about span:first-of-type {
    color: var(--mainColor);
    font-size: 15.703px;
    font-weight: 400;
}

.begins-about h1 {
    color: #141E32;
    font-size: 39.277px;
    width: 331.791px;
    font-weight: 700;
}

.begins-about h1 span:last-of-type {
    color: var(--mainColor);
    font-size: 39.277px;
    font-weight: 700;
}

.begins-about p {
    color: #969696;
    font-size: 18.703px;

}

.begins-about .about-auto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;

}

.about-auto .register {

    border: 1px solid var(--mainColor);
    color: #fff;
    padding: 12.119px 53.525px;
    background: #545BE8;
    border-radius: 11.168px;

}

.about-auto .autoplay {
    color: #141E32;
    font-size: 13.703px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px
}

.autoplay img {
    width: 30px;
    height: 30px;
}

.begins-logo {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.begins-logo img {
    width: 60%;
}

@media (max-width:920px) {
    .begins .begins-about {
        align-items: center;
        text-align: center;
    }

    .begins-about p {
        text-align: center;
    }
}

@media (max-width:400px) {
    .begins-about h1 {
        width: fit-content;
    }

    .register {
        display: none;
    }

    .row {
        gap: 20px;
    }
}

/* end Begins Course */



/* start our-services */
.services {
    background-color: white;
    padding: 50px 0;
}

.services .row {
    align-items: center;
    gap: 10px;

}

.about-service {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.about-service span:first-of-type {
    color: var(--mainColor);
    font-size: 15.703px;
    font-weight: 400;
}

.about-service h2 {
    color: #141E32;
    font-size: 39.277px;
    width: 331.791px;
    font-weight: 700;
}

.about-service p {
    color: #969696;
    font-size: 24.703px;

}

.our-service {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;

    align-items: flex-start;
    gap: 25px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    flex-grow: 1;

    flex-direction: column;
    justify-content: center;
    background-color: var(--mainColor);
    border-radius: 7px;

    padding: 15px 10px;
    gap: 10px;
}

.service .logo {
    background-color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
    padding: 5px 5px;
}

.service .logo img {
    width: 35px;
    height: 35px;
}

.service .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.service .details h3 {
    color: #fff;
    font-size: 12.703px;
    letter-spacing: 1px;

    font-weight: 700;
}

.service .details p {

    color: #DDD;
    font-size: 13.703px;
    font-weight: 400;
}

.next-service {
    position: absolute;
    right: 184px;
    display: flex;
    align-items: center;
    gap: 6px;

}

.next-service img {
    width: 30px;
    height: 30px;
}

@media (max-width:1290px) {
    .our-service {
        flex-wrap: wrap;
        flex-basis: 400px;
        flex-grow: 1;
    }
}

@media(max-width:900px) {
    .about-service {
        text-align: center;
        align-items: center;
    }

    .next-service {
        padding: 10px;
    }

}

@media(max-width:400px) {
    .about-service {
        align-items: center;
        width: fit-content;
    }

    .about-service h2 {
        width: fit-content;
    }

    .about-service p {
        display: none;
    }
}

/* end our-services */


/*start Course Popularity */
.coursepopularity {
    background-color: var(--mainColor);
    padding: 50px 0;
}

.coursepopularity-logo {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coursepopularity-logo img {
    width: 60%;
}

.coursepopularity-about {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.coursepopularity-about span {
    color: #F0C932;
    font-size: 15.703px;
    font-weight: 400;
}

.coursepopularity-about h2 {
    color: #fff;
    font-size: 39.277px;
    width: 331.791px;
    font-weight: 700;
}


.coursepopularity-about p {

    color: #DDD;
    font-size: 18.703px;
    width: 472.791px;
}

.about-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 200px;
    flex-grow: 1;
    gap: 144px;
    text-align: center;

}

.about-details view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100px;
    flex-grow: 1;
}

.about-details h3 {
    color: #F0C932;
}

.about-details span {
    color: #DDDDDD;
    font-size: 12.41px;
}

@media (max-width:540px) {
    .coursepopularity-about p {
        width: fit-content;
    }

    .coursepopularity-about h2 {
        width: fit-content;
    }
}

@media (max-width:920px) {
    .coursepopularity-about {
        align-items: center;
        text-align: center;
    }
}

/* end Course Popularity */



/*start Courses */
.courses {
    background-color: white;
    padding: 50px 0;
}

.courses .row {
    align-items: flex-start;
    gap: 50px;
    ;
}

.course-items,
.course-about {
    width: calc((100% - 50px) / 2);
}

.course-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.course {
    display: flex;
    width: calc((100% - 25px) / 2);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5.721px 5.721px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.card-course {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.card-course .card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.card-info span:first-of-type {
    background-color: var(--mainColor);
    color: #fff;
    font-size: 15.149px;
    font-weight: 600;
    padding: 8px 8px;
    margin-top: 10px;
}

.card-info span:last-of-type {
    color: #fff;
    align-self: self-end;
    font-size: 19.866px;
    font-weight: 700;
    padding: 5px 10px;
}

.card-course img {
    width: 100%;
    height: 220px;
    filter: brightness(60%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 3px;
    gap: 10px;
}

.card-details .row {
    align-items: center;
    justify-content: space-between;

}

.card-details h3 {
    color: #141E32;
    font-weight: 700;
    font-size: 18.866px;
}

.card-details a {
    color: var(--mainColor);
    font-size: 14.005px;
}

.card-details .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.card-details span {
    color: #969696;
    font-size: 14.149px;
}

.course-about {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

}

.course-about span {
    color: var(--mainColor);
    font-size: 17.703px;
    font-weight: 400;
}

.course-about h2 {
    color: #141E32;
    font-size: 33.673px;
}

.course-about p {
    color: #969696;
    font-size: 18.703px;
    font-weight: 300;
    width: 456.234px;
}

.course-about a {
    border: 1px solid var(--mainColor);
    color: #fff;
    padding: 12.119px 53.525px;
    background: #545BE8;
    border-radius: 11.168px;
}

@media (max-width:970px) {
    .course-items {
        order: 2;

    }

    .course-about {
        align-items: center;
    }

    .course-about p {
        text-align: center;
    }

    .course-items,
    .course-about {
        flex-basis: 400px;
        flex-grow: 1;
    }

    .course {
        flex-basis: 200px;
        flex-grow: 1;
    }
}

@media (max-width :510px) {
    .course-about p {
        display: none;
    }
}

/* end Courses*/










/* start Testimonials */
.testimonials {
    text-align: center;
    padding: 50px 0;
}

.testimonials h2 {
    padding: 16px;
    font-size: 27px;

}

.testimonials .row {
    gap: 40px;

}

.testimonial {
    /* width: calc((100% - 40px) / 2);*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}

.testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #F4F4F4;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;


}

.testimonial .info-testimonial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.testimonial .info-testimonial img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.testimonial .info-testimonial .name-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
}

.name-info span {
    color: #969696;
    font-weight: 400;
}

.evaluation {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonial p {
    display: inline-block;
    text-align: start;
    color: #646464;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
}

/* end Testimonials */





/* start footer */
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #F4F4F4;
}

.footer row {

    gap: 45px;
}

.start-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 400px;
    flex-grow: 1;
    gap: 30px;
}

.start-footer .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.start-footer .logo img {
    width: 30px
}

.start-footer .logo a {
    font-size: 14px;

}

.start-footer p {
    color: #F4F4F4;
    font-size: 15px;
    font-weight: 200;

}

.start-footer .icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

.start-footer svg {
    border: 1px #fff solid;
    padding: 8px;
    width: 14px;
    height: 14px;
    box-sizing: content-box;
}

.end-footer {
    flex-basis: 400px;
    flex-grow: 1;
}

.end-footer .row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.end-footer .footer-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.end-footer .footer-items h3 {

    font-weight: 500;
}

.end-footer .footer-items .nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.end-footer .footer-items .nav ul a {
    color: #F4F4F4;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width:400px) {
    .start-footer {
        align-items: center;
        text-align: center;
    }

}

/* end footer */